@font-face {
  font-family: 'my-font';
  src: url(../PlusJakartaSans-VariableFont_wght.ttf);
}
body{
  font-family: 'my-font', sans-serif;
  background: #dbf4ef;
  position: relative;
}
body.dark{

}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 20px
}
input{
  all: unset;
  border-bottom: 2px solid black;
  border-radius: 2px;
  padding-bottom: 8px;
  text-align: center;
}
input::placeholder{
  /* color: #ffffffbb; */
  color: rgba(0, 0, 0, 0.6);
}
button{
  all: unset;
  border: 2px solid hsl(61, 70%, 52%);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.play-button:active{
  opacity: 0.8;
  background-color: gray;
}
main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  /* min-height: 60vh; */
  margin: 50px auto;
  border: 2px solid black;
  border-radius: 20px;
  /* padding: 20px; */
  /* gap: 10px; */
  overflow: hidden;
}
form, section{
  display: flex;
  justify-content: center;
  flex: 1;
  flex-shrink: 0;
  align-items: center;
  background: rgb(14, 107, 169);
  background-color: #004d51;
  color: white;
  padding: 50px;
  min-height: 10em;
  gap: 30px;
}
form{
  background: none;
  color: black;
  flex-direction: column;
}
section{
  display: flex;
  flex-direction: column;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom-left-radius: 30px;
}

section em{
  all: unset;
  position: relative;
  border-radius: 10px;
  /* color: hsl(61, 70%, 52%); */
  border: 2px solid hsl(61, 70%, 52%);
  padding: 12px 10px;
  min-height: 30px;
  width: 20px;
  text-align: center;
}
section em span{
  position: absolute;
  font-size: 13px;
  right: 15%;
  top: 0;
}
.tile-block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  font-size: 25px;
}
.history{
  /* display: none; */
  opacity: 0;
  transition: 1s ease;
}
.history.active{
  position: relative;
  margin: 100px auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  background-color: #004d51;
  color: white;
  gap: 30px;
  padding: 80px 40px;
  border-radius: 30px;
  animation: slide 0.3s forwards ease-in-out;
}
@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-100%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.history div{
  border: 2px solid hsl(61, 70%, 52%);
  padding: 10px;
  border-radius: 10px;

}
.clear-history{
  position: absolute;
  top: 15px;
  right: 20px;
  border: 2px solid hsl(61, 70%, 52%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 1300px){
  form, section{
    padding: 25px;
  }
}
@media (max-width: 1000px) {
  main{
    flex-direction: column;
  }
  section {
    border-radius: unset;
    width: 100%;
  }
}
@media (max-width: 650px) {
  main {
    width: 80%;
  }
}