body{
  background-color: rgb(2, 23, 32);
}
.ball-row, .ball-row-2 {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ball {
  width: 30px;
  height: 30px;
  background-color: royalblue;
  border-radius: 50%;
}
.ball-row .ball{
  animation: bounce 1s ease-in-out infinite;
}
.ball-row-2 .ball {
  transform: translateY(200%);
  animation: bounce-2 1s ease-in-out infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0) scale(1);
    background-color: royalblue;
  }
  50% {
    transform: translateY(200%) scale(0.5);
    background-color: rgb(81, 199, 199);
  } 
}
@keyframes bounce-2 {
  0%, 100% {
    transform: translateY(200%) scale(1);
    background-color: royalblue;
  }
  50% {
    transform: translateY(0) scale(0.5);
    background-color: rgb(81, 199, 199);
  } 
}

section{
  /* position: relative; */
  /* background-color: red; */
  /* padding: 20px; */
  /* width: 50%; */
  margin: 100px auto;
}


.ball-row-3{
  display: flex;
  gap: 10px;
  position: relative;
  --w: 500px;
  /* background-color: red; */
  width: fit-content;
}
.ball-row-3 .ball{
  animation: moveToEnd 1s infinite linear;
}
@keyframes moveToEnd {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  25%{
    transform: translate(50%, 50%) scale(0.5, 2);
  }
  50% {
    transform: translate(0, 100%) scale(0.5, 4)
  }
  75% {
    transform: translate(-50%, 50%) scale(0.25, 2)
  }
}