@font-face {
  font-family: 'myFont';
  src: url(../Karla-VariableFont_wght.ttf);
}
body{
  font-family: 'myFont';
  --base-color-: #189382;
  --min-color: #07ac5770; 
  background-color: #e6fcff;
  margin: 20px 10px;
}
body.dark{
  background: 
    linear-gradient(135deg, #00000050, transparent, #ffffff50),
    url(../images/pattern-lines.svg),
    url(../images/pattern-lines.svg),
    url(../images/black-wallpaper.jpg)
;
  color: white;
}
select, button, input, h1, a{
  all: unset;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button{
  cursor: pointer;
}
header{
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  align-items: center;
  border: 2px solid var(--base-color-);
  padding: 20px 40px;
}
main{
  display: flex;
  justify-content: space-around;
}
.main-article{
  opacity: 0;
  position: absolute; 
  pointer-events: none;
}
.main-article.slide-up{
  pointer-events: all;
  animation: slideUp 0.5s ease-in-out forwards;
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  } 
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.entry-form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  border: 2px solid var(--base-color-);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 200px;
  width: 60%;
  transition: 0.5s;
}
.entry-form.float{
  transition: 0.5s;
  position: absolute;
  top: 1vh;
  left: 1vw;
  /* background-color: var(--base-color-); */
  /* color: white; */
  /* border-color: var(--min-color); */
  transform: scale(0.5) translate(-50%, 50%);
}
.entry-form input{
  border: 2px solid var(--base-color-);
  padding: 10px;
  border-radius: 5px;
}
.entry-form button{
  background-color: var(--base-color-);
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: 70%;
  cursor: pointer;
}
.entry-form label span{
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  border: 1px solid var(--base-color-);
  margin-left: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}
.entry-form label span:hover div{
  opacity: 1;
}
.entry-form label span div{
  font-weight: 500;
  font-family: 'myFont';
  position: absolute;
  right: -300%;
  top: -300%;
  border-radius: 5px;
  border: inherit;
  width: 70px;
  background-color: #cdf0f558;
  opacity: 0;
  pointer-events: none;
  transition: 0.15s;
}
.start-button.disabled{
  pointer-events: none;
  opacity: 0.6;
  background-color: gray;
}
.course-table{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.course-table-header{
  margin: 10px 0;
}
.course-table form, .course-table-header{
  display: grid;
  grid-template-columns: 20px repeat(3, 1fr) 30px; 
  text-align: center;
  align-items: center;
  gap: 10px;
}
.course-table form :is(select, input){
  border: 2px solid var(--base-color-);
  padding: 10px 0;
}
/*.course-table article, .course-table section form {
  margin: 0;
  display: grid;
  grid-template-columns: 50px repeat(3, 100px) 20px;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  column-gap: 5%;
  row-gap: 20px;
  justify-items: center;
  align-items: center;
}
.course-table form input{
  border-radius: 10px;
  border: 2px solid var(--base-color-);
  max-width: 100%;
  padding: 10px 0;
}
select{
  width: 100%;
  min-width: 70%;
  padding: 10px 0;
  border: 2px solid var(--base-color-);
  border-radius: 10px;
  text-align: center;
}
.course-table aside button{
  padding: 10px 20px;
  color: white;
  margin: 0 5px;
  border-radius: 20px;
  background-color: var(--base-color-);
}  */
.delete-button{
  color: #790a0a;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
body.dark .delete-button{
  color: #ffffff9d;
}
.score-data form.slide-down{
  animation: slideDown 0.5s ease-in-out ;
}
@keyframes slideDown {
  from{
    opacity: 0.5;
    transform: translateY(-50%);
 } to {
  opacity: 1;
  transform: translateY(0);
 }
}






.progress-circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 100px auto;
}

.progress-circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(-90deg); /* Rotating to start the circle from the top */
}

.progress-circle circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 20;
  stroke-linecap: round;
}

.progress-circle circle:first-child {
  stroke: #e0e0e0; /* Background circle color */
}
body.dark circle:first-child{
  stroke: rgb(147, 147, 147);
}
body.dark circle:last-child{
  stroke: rgb(61, 255, 61)
}
.progress-circle circle:last-child {
  stroke: var(--base-color-); /* Progress bar color */
  stroke-dasharray: 440; /* 2 * PI * r where r = 70 */
  stroke-dashoffset: 440; /* Start with offset that hides the circle */
  transition: stroke-dashoffset 0.5s ease;
}
.gpa-value{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: 700;
  color: var(--base-color-);
}




@media(max-width: 800px) {
  main{
    flex-direction: column;
    align-items: center;
  }
  .course-table article, .course-table section form{
    grid-template-columns: 40px repeat(3, 100px) 20px;
  }
  
}

