@font-face {
    font-family: 'sansa';
    src: url(../../PlusJakartaSans-VariableFont_wght.ttf);
    src: url(../../SpaceGrotesk[wght].ttf)
  }
  body{
    font-family: 'sansa';
    background-color: rgb(220, 220, 255);
    font-size: 16px;
  }
  input{
    font-family: 'sansa';
    font-size: 16px;
  }
  header img{
    width: 40px;
    height: 40px;
  }
  .mortgage-calculator{
    display: flex;
    width: 70%;
    min-height: 500px;
    margin: 100px auto;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  }
  .player-information{
    padding: 20px 50px;
  }
  .player-information .header{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: baseline;
  }
  .player-information .header div{
    color: hsl(200, 83%, 18%);
    cursor: pointer;
    position: relative;
  }
  .player-information .header div:hover::after{
    transform: scaleX(1);
  }
  .player-information .header div:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: hsl(200, 93%, 11%);
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  .mortgage-calculator form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .mortgage-amount-item, .mortgage-type-item{
    grid-column: span 2;
  }
  .form-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  .form-item label, .form-item input{
    font-weight: 900;
    color: hsl(0, 0%, 35%);
    position: relative;
  }
  .form-item input, .radio{
    padding: 10px;
    border-radius: 3px;
    border: 2px solid hsl(200, 83%, 18%);
    /* border-image: linear-gradient(to right, hsla(75, 83%, 60%, 0.718), hsl(93, 20%, 30%)) 1; */
    /* border-image-outset: 0;
    border-image-slice: 30;
    border-image-width: 30;
    background-clip: padding-box; */
  }
  .radio-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  input[type="radio"]{
    opacity: 0;
    /* visibility: hidden; */
    position: absolute;
  }
  .radio label{
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .radio label::before{
    position: absolute;
    content: '';
    left: 0;
    top: 25%;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
input[type="radio"]:checked + label::before{
    background-color: hsl(200, 83%, 18%);
    border: 1px solid hsl(203, 41%, 72%);
}
/* .radio-div:has(input[type="radio"]:checked + label){
    background-color: red;
} */
  .calculate-button{
    display: flex;
    background-color: hsl(61, 70%, 52%);
    border-radius: 50px;
    min-width: 200px;
    justify-content: center;
    gap: 8px;
    font-weight: 600;
    cursor: pointer;
    padding: 15px 0;
  }
  .calculate-button.disabled{
    pointer-events: none;
    opacity: 0.7;
    background-color: gray;
    color: black;
  }
  .calculate-button p{
    margin: 0;
  }
  .result-display{
    background-color: hsl(200, 83%, 18%);
    padding: 20px 50px 50px 50px; 
    border-bottom-left-radius: 70px;
    display: flex;
    flex-direction: column;
    /* position: relative; */
  }
  
  .total-repayments, .result-display h2{
    color: hsl(202, 86%, 94%);
  }
  .total-repayments{
    font-size: 1.5rem;
    font-weight: 600;
  }
  .result-display p{
    color: hsl(203, 41%, 72%);
    margin: 0;
    text-align: justify;
  }
  .monthly-repayments{
    color: hsl(61, 70%, 52%);
    font-size: 3rem;
    font-weight: 600;
  }
  .perspective{
    min-height: 300px;
    height: auto;
    perspective: 1000px;
  }
  .perspective-inner{
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.6s;
    cursor: pointer;
  }
  .perspective.active .perspective-inner{
    transform: rotateY(180deg); /* Flip the card */
  }
  .actual-result-display, .recommendations{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    background-color: hsl(200, 93%, 11%);
    padding: 30px 40px;
    border-radius: 10px;
    gap: 40px;
    margin-top: 30px;
    border-top: 4px solid hsl(61, 70%, 52%);
    width: 80%;
    position: absolute;
    backface-visibility: hidden;
  } 
  .recommendations{
    color: inherit;
    transform: rotateY(180deg);
  }
  .recommendations h2{
    position: relative;
  }
  .recommendations h2::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: 0;
    background-color: hsl(203, 41%, 72%);
    transform: scaleX(0);
    transition: 1s;
  }
  .recommendations h2:hover::after{
    transform: scaleX(1);    
  }
  .actual-result-display div{
    display: flex;
    flex-direction: column;
    gap: 7px;
    
  }
  .empty-illustration-div{
    background-color: hsl(200, 93%, 11%);
    margin: 20px 0;
    padding: 20px;
    border-radius: 20px;
    border-top: 5px solid hsl(61, 70%, 52%);
    box-sizing: border-box;
  }
  .empty-illustration-div img{
    width: 100%;
    height: auto;
    max-height: 200px;
  }
  .division-line{
    width: 100%;
    background-color: hsl(203, 41%, 72%);
    opacity: 0.5;
    height: 1px;
  }
  @media(max-width: 1400px) {
    .mortgage-calculator{
      flex-direction: column;
      border-radius: 10px;
    }
    .result-display{
      border-bottom-left-radius: 0;
    }
  }
  @media (max-width: 1020px) {
    .player-information form{
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 775px) {
    .mortgage-calculator{
      width: 95%;
    }
    .monthly-repayments{
      font-size: 2rem;
    }
    .result-display p{
      text-align: left;
      font-size: 0.9em
    }
    .calculate-button{
      text-align: center;
      padding: 10px 0;
      border-radius: 3px;
      border: 2px solid black;
    }
    .calculate-button img, .player-information .header div{
      display: none;
    }
    .player-information .header{
      justify-content: center;
    }
    .player-information .header h1{
      font-size: 1.5rem;
    }
    .player-information .header::after{
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      background-color: hsl(72, 7%, 85%);
      bottom: 20%;
      border-radius: 30px;
    }
  }