.header{
    display: flex;
    margin: 0 15px;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 10px solid  hsl(212, 100%, 17%);
}
.home img{
    width: 30px;
    height: auto;
}